<div class="container m-5 d-flex">
  <% (0..2).each do |student| %>
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Student Name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Student Record</a>
      </div>
    </div>
  <% end %>
</div>