<h1>Editing educational</h1>

<%= render "form", educational: @educational %>

<br>

<div>
  <%= link_to "Show this educational", @educational %> |
  <%= link_to "Back to educationals", educationals_path %>
</div>
