<%= render "shared/header", show_gradient: false %>
<div class="container p-5" style="max-width: 1000px;">
  <h1 class="text-center">New student</h1>
  <%= render "form", student: @student %>
</div>
<%= render "shared/footer" %>
