<%= form_with(url: students_path, method: :get, data: {turbo_frame: "students"}, html: {class: "row d-flex"}) do |form| %>
  <div class="m-2 col-md-2">
    <%= form.text_field :query, class: "form-control", placeholder: "Search" %>
  </div>
  <div class="m-2 col-md-1">
    <%= form.submit 'Search', class: "btn btn-primary" %>
  </div>
<% end %>
