<tr>
  <td><%= category.name %></td>
  <td><%= link_to "Show", category_path(category), class: "btn btn-info" %></td>
  <td><%= link_to "Edit", edit_category_path(category), class: "btn btn-primary" %></td>
  <td><%= button_to "Destroy", category, method: :delete, class: "btn btn-danger" %></td>
</tr>
